body {
    background: #8bcaee;
    overflow: hidden;
}
svg {
    border: 3px solid #000000; 
    display: block;
    margin: auto;
}

    svg image {
        /*opacity:0.4;*/
    }

div#scoreboard{
    position: fixed;
    left: 0;
    top: 20px;
    z-index: 100;
}